/*Glavni div gdje forma*/
.glavni-div
{
    position: absolute;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    z-index: 999;
    min-width: 800px;
    
    
    
}

/*ContainerDiv*/

.container
{
    width: 100vw;
    height: 100vh;
    background: url(/assets/images/background-desktop.png);
    background-size: cover;
}

body
{
    overflow: hidden;
}

/*GornjiNaslovSaLogom */

.gornji-naslov
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    padding-top: 1.4rem;
    font-weight: 800;
    font-size: 1.6rem;
}

.logo-mark
{
    width: 1.6rem;
    height: 1.6rem;
}

/*Veliki naslov*/

.veliki-naslov
{
    text-align: center;
    margin-top: 0.6rem;
    font-size: 2.4rem;
    margin-bottom: 0.5rem;
}

/*paragraf ispod velikog naslova*/

.tekst-ispod-naslova
{
    text-align: center;
    color: hsl(252, 6%, 83%);
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
}

/*forma stimanje*/

.formaDesktop
{
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    
}


/*Stimanje diva gdje input upload*/


.upload-div
{
    border: 3px dashed hsl(245, 15%, 58%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px;
    border-radius: 15px;
    background-color: hsla(245, 15%, 58%,0.15);
}

/*Stimanje input uploda , pravljenje custom ikone*/

#dugmeZaUpload
{
    display: none;
}
.dugme-Custom
{
    
    padding: 6px;
    background-color: hsl(245, 19%, 35%);
    border-radius: 10px;
    outline: 1px solid hsl(245, 15%, 58%);
}
.dugme-Custom:hover
{
    cursor: pointer;
}

.tekst-ispod-upload-dugmeta
{
    color: hsl(252, 6%, 83%);
    font-size: 1.4rem;
}

/*Stimanje labela, i njegovih velicina*/
.imena-za-inpute
{
    font-size: 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-weight: bold;
}


/*Stimanje labela ispod upload diva*/

.ispod-info-label
{
    display: flex;
    gap: 10px;
    margin-top: 0.5rem;
    font-size: 0.7rem;
    
}
.ispod-info-label *
{
    color: hsl(252, 6%, 83%);
    display: flex;
    align-items: center;
}

/*Stimanje inputa ispod diva, */

.inputi-ispod
{
    padding: 15px 5px;
    border-radius: 10px;
    background-color: hsla(245, 15%, 58%,0.15);
    font-size: 1.2rem;
    outline: none;
    color: hsl(252, 6%, 83%);
}


/*Submit button*/

#crveniInput
{
    margin-top: 2rem;
    color: hsl(248, 70%, 10%);
    background-color: hsl(7, 71%, 60%);
    outline: none;
    font-weight: bold;
    border: none;
}
#crveniInput:hover
{
    cursor: pointer;
    outline: 2px solid white;
}
#crveniInput:focus
{
    border: 4px solid black;
    outline: 3px solid  hsl(0, 0%, 100%);
}


.upload-div:hover
{
    background-color: hsl(245, 15%, 58%);
    cursor: pointer;
}
.inputi-ispod:focus
{
    outline: 3px solid hsl(245, 19%, 35%);
    border-color: hsl(248, 70%, 10%);
    border-width: 5px;
}
.inputi-ispod:hover
{
    background-color: hsl(245, 15%, 58%);
    cursor: pointer;
}


/*Slika u upload*/

.slika-upload
{
    width: 50px;
    height: 50px;
    
    background-color: hsl(245, 19%, 35%);
    border-radius: 10px;
    outline: 1px solid hsl(245, 15%, 58%);
}

.upload-hidden
{
    display: none;
}

.state-error
{
    color: red;
}

/*StateError za svg*/

.error-svg path
{
    stroke: red;
}

/*Dugmad ispod slike u uploadu*/
.dugmad-after-upload
{
    font-size: 1rem;
    padding: 10px;
    outline: none;
    background-color: hsl(245, 19%, 35%);
    border-radius: 15px;
    border: none;
}
.dugmad-after-upload:hover
{
    text-decoration: 1px underline;
    text-decoration-skip-ink: none;
    cursor: pointer;
    
}


.glavni-div
{
    position: relative;
    z-index: 99;
}


.linije
{
    
    width: 100%;
}
.svgElementi
{
    position: absolute;
    
}
.krug
{
    position: absolute;
    left: 12%;
    top: -10%;
}

.krivudavaLinijaTopDesno
{
    right: 5%;
    top: 6%;
}

.krug2
{
    top:60%;
    left: 60%;
}
.donjaKrivudavaLinija
{
    top: 65%;
    left: 10%;
}



/*Animacija boja*/
@keyframes gradientAnimation {
    0% { stop-color: #fff; }
    50% { stop-color: #F37362; }
    100% { stop-color: #62F3D6; }
  }

  .stop1, .stop3 {
    animation: gradientAnimation 5s infinite alternate;
  }

  .stop2 {
    animation: gradientAnimation 5s infinite alternate-reverse;
  }



  /*uploadDiv focus*/
  .upload-div:focus
  {
    outline: 3px solid hsl(245, 19%, 35%);
    
  }


  .imePrezime
  {
    background-image: linear-gradient(to right, hsl(7, 71%, 60%), white);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; /* Make the text color transparent to show the gradient */

  }
  .email
  {
    color: hsl(7, 71%, 60%);
  }


  /*Ticket*/

  .Ticket
  {
    position: relative;
    background: linear-gradient(to right,hsl(245, 19%, 35%) 5%,hsl(245,15%,58%) 100%);
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7%;
    height: auto;
    display: flex;
    justify-content: space-between;
    border-radius: 15px;
      
    border: 1px solid linear-gradient(hsl(0, 0%, 100%),hsl(7, 88%, 67%));
      
  }
  .Ticket::before {
    content: '';
    position: absolute;
    top: -2px; /* Adjust for border width */
    left: -2px; /* Adjust for border width */
    right: -2px; /* Adjust for border width */
    bottom: -2px; /* Adjust for border width */
    background: linear-gradient(hsl(0, 0%, 100%) 0%,hsl(0, 0%, 100%) 75%, hsl(7, 71%, 60%) 75%,  hsl(7, 71%, 60%) 100%);
    border-radius: 15px; /* Match the parent's border radius */
    z-index: -1;
  }
  .brojka
  {
    display: flex;
    transform: rotate(90deg);
    font-size: 2.4rem;
    text-align: right;
    width: 20%;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.7);
  }
 

  .lijevaStranaTicket
  {
    display: flex;
    flex-direction: column;
    padding: 3%;
    gap: 3.4rem;
    width: 80%;
    border-right: 5px dashed rgba(0, 0, 0, 0.7);
    
  }
  .gornja-desna-strana-ticket
  {
    display: flex;
    flex-direction: column;
  }
  .logoNaziv
  {
    display: flex;
    align-items: center;
    font-size: 2.5rem;
    gap: 15px;
  }
  .gornja-desna-strana-ticket p
  {
    margin-left: 9%;
    font-size: 1.5rem;
    opacity: 70%;
    margin-top: 3%;
  }
  .Donja-Strana
  {
    display: flex;
    gap: 15px;
    align-items: center;
  }

  /*Slika donja strana*/
  .slika
  {
    display: block;
    width: 80px;
    height: 80px;
    border-radius: 15px;
    object-fit: cover;
  }
  .desno-tekst-o
  {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 2rem;
    
  }
  .logo-username
  {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    gap: 7px;
    opacity: 70%;
  }


  
  @media screen and (max-width:428px) {
    
    .glavni-div
    {
        min-width: initial;
        width: 95%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        overflow: hidden;
    }
    .veliki-naslov
    {
        
        font-size: 1.5rem;
        margin-bottom: 0.4rem;
        
    }
    .tekst-ispod-naslova
    {
        font-size: 1rem;
    }
    .formaDesktop
    {
        width: 100%;
        height: 100%;
    }

    .imena-za-inpute
    {
        font-size: 1.2rem;
    }
    .inputi-ispod:focus {
        outline: 1px solid hsl(245, 19%, 35%);
        border-color: hsl(248, 70%, 10%);
        border-width: 5px;
    }
    .tekst-ispod-upload-dugmeta
    {
        font-size: 1.2rem;
    }
    .inputi-ispod
    {
        font-size: 1.1rem;
        padding: 15px 10px;
    }
   
    .container
    {
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50%;
        
    }
    .krug2
    {
        display: none;
    }
    .donjaKrivudavaLinija
    {
        width: 400px;
        left: -32%;
        top: 70%;
    }
    .linije 
    {
        width: 100%;
        height: 100px;
        
    }
    
    .Ticket
    {
        width: 95%;
        margin-top: 15%;

    }
    .Ticket *
    {
        font-size: 1.4rem;
    }
    .gornja-desna-strana-ticket p
    {
        font-size: 1rem;
    }
    #crveniInput:focus
        {
            border: 2px solid black;
            outline: none;
        }
        
    
  }

  




