/*Glavni div gdje forma*/
.glavni-div
{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid white;
}

body
{
    background-image: url(/assets/images/background-desktop.png);
    background-size: cover;
    background-attachment: fixed;
    
}
/*GornjiNaslovSaLogom */

.gornji-naslov
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin-top: 2rem;
    font-weight: 800;
    font-size: 1.6rem;
}

.logo-mark
{
    width: 1.6rem;
    height: 1.6rem;
}

/*Veliki naslov*/

.veliki-naslov
{
    text-align: center;
    margin-top: 4rem;
    font-size: 4rem;
    margin-bottom: 1.4rem;
}

/*paragraf ispod velikog naslova*/

.tekst-ispod-naslova
{
    text-align: center;
    opacity: 0.8;
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

/*forma stimanje*/

.formaDesktop
{
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid white;
    height: 500px;
}


/*Stimanje diva gdje input upload*/
